@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

/* Global colors */

$color--primary: #00877e;
$color--secondary: #ada59a;
$ceti-orange: #e5450a;
$ceti-orange-light: #e47045;
$ceti-grey: #505555;
$ceti-grey-light: #99adad;
$ceti-black: #393b3b;
$ceti-royal: #2e4ddf;
/* END Global colors */ /* Global Styles */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #2a2a2a;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-family: "Source Code Pro", sans-serif;
  text-transform: none;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2em;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 44px;
  font-weight: 400;
  margin-top: 0;
  line-height: 1.2em;
}
.caps {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 40px;
}
.home-page {
  h2 {
    font-family: "Source Code Pro", sans-serif;
    text-transform: unset;
    font-weight: 700;
    margin-bottom: 0;
  }
  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    margin-top: 0;
  }
}
figure {
  margin: 0;
}
img {
  width: 100%;
}
hr {
  margin: 80px 0;
}

img.logo {
  width: 120px;
}
.about h2 {
  font-size: 44px;
  margin-top: 0;
  text-transform: capitalize;
}
.wlf-link h2 {
  text-transform: uppercase;
}

h3,
h4,
h5 {
  font-weight: 600;
}

p {
  line-height: 1.4em;
}
a {
  text-decoration: none;
  color: $ceti-grey;
}
.orange {
  background-color: $ceti-orange;
  margin-top: -5px;
  color: #fff;
  a {
    color: white;
  }
}
.orange-light {
  background-color: $ceti-orange-light;
  color: #fff;
  a {
    color: white;
  }
  padding-bottom: 60px;
}
.grey {
  background-color: $ceti-grey-light;
  margin-top: -5px;
  color: $ceti-black;
  a {
    color: $ceti-black;
  }
}
.e-tech-blue {
  background-color: #0aaae5;
  color: #fff;
  a {
    color: #fff;
  }
  .button {
    background-color: #fff;
    color: #0aaae5;
    border-color: #fff;
  }
  .button:hover {
    background-color: #0aaae5;
    color: #fff;
    border-color: #fff;
  }
}
.e-tech {
  background-color: #b7dcb0;
}
.xr {
  background-color: #000;
}
.royal {
  background-color: $ceti-royal;
  color: #fff;
  a {
    color: #fff;
  }
  .button {
    background-color: #fff;
    color: $ceti-royal;
    border-color: #fff;
  }
  .button:hover {
    background-color: $ceti-royal;
    color: #fff;
    border-color: #fff;
  }
}
.biohead {
  background-color: $ceti-orange;
  color: #fff;
  width: 100%;
  height: 350px;
  .biopic {
    margin: auto;
    text-align: center;
    width: 100%;
  }
  img {
    height: 350px;
    width: auto;
    margin-bottom: -5px;
  }
}

ul.links-horiz {
  display: flex;
  width: auto;
  padding: 0;

  a {
    color: $ceti-orange;
  }
  li {
    list-style-type: none;
    margin-right: 20px;
  }
}
/* END Global Styles */
#intro {
  padding-bottom: 60px;
}
#intro.gof {
  padding-bottom: 0px;
}
.hero {
  background-image: url("../images/heros/wlf-ceti-blue-green.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
  height: 300px;
  width: 100vw;
}
.home-page .hero {
  background-image: url("../images/heros/wlf-game.png");
}
.enchanted-page {
  a {
    color: $ceti-orange;
  }
  a:hover {
    text-decoration: underline;
  }
}
.about {
  position: relative;
  padding-bottom: 40px;
  div {
    padding: 40px 0;
    width: 90%;
    margin: auto;
  }
}
.flex-horiz {
  /* the horizontal display of icons on programs page */
  display: flex;
  list-style-type: none;
  align-items: baseline;
  li {
    text-align: center;
    padding-right: 20px;
  }
}
.programs-grid {
  /* the 2x grid of square program images on programs page */
  display: grid;
  grid-template-columns: 1fr 1fr;
  article {
    background-color: $ceti-grey;
    color: #fff;
    text-align: center;
    a {
      color: #fff;
    }
  }
  .e-tech {
    background-color: #b7dcb0;
    color: $ceti-grey;
    a {
      color: $ceti-grey;
    }
  }
}
/*| Navigation Two. replace old nav after testing |*/
.navtwo {
  z-index: 900;
  justify-content: flex-end;
  display: none;
}

.navtwo ul {
  list-style: none;
  position: relative;
  display: flex;
}

.navtwo ul li {
  transition: all 0.2s ease-in-out;
}

.navtwo ul ul li a:hover {
  color: #e5450a;
}

.navtwo ul li:hover > ul {
  display: block;
}

.navtwo ul li {
  transition: all 0.2s ease-in-out;
}

.navtwo ul li a {
  display: block;
  font-size: 24px;
  padding: 10px 20px 15px 20px;
  color: $ceti-grey;
  text-decoration: none;
}
.navtwo ul li a:hover {
  color: #e5450a;
}

.navtwo ul ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 100%;
}

.navtwo ul ul li {
  position: relative;
  margin-left: -40px;
}

.navtwo ul ul li a {
  padding: 15px 30px;
  border: 1px solid #e5450a;
  border-bottom: none;
}
.navtwo ul ul li:last-child a {
  border-bottom: 1px solid #e5450a;
}

.navtwo ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

.navmobile {
  display: block;
}
.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #666;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #666;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

/* END Nav Two */
.wlf22 .projects_list {
  margin-bottom: 80px;
  list-style-type: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  .hide {
    display: none;
  }
  img {
    width: 100%;
  }
  .project-cards {
    overflow: hidden;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
  .project-info {
    height: 300px;
    padding: 40px 20px;
    width: 300px;
    color: #fff;
    background: rgb(229, 69, 10);
    background: linear-gradient(307deg, rgba(229, 69, 10, 1) 0%, rgba(255, 226, 0, 1) 37%, rgba(221, 12, 237, 1) 63%);
  }
  .project-img {
    position: relative;
    height: 300px;
    width: 300px;
    background: rgb(229, 69, 10);
    background: linear-gradient(307deg, rgba(229, 69, 10, 1) 0%, rgba(255, 226, 0, 1) 37%, rgba(221, 12, 237, 1) 63%);
  }
  .proj-title {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 32px;
    padding: 20px;
    font-weight: bold;
  }
}
/* constellations 22 */
.wlf22 .participants_list {
  margin-bottom: 80px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // grid-auto-rows: 1fr;
  grid-gap: 30px;
  .colorLink {
    color: #dd0bed;
    text-decoration: underline;
  }
  .hide {
    display: none;
  }
  .avatar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: $ceti-orange;

    margin-right: 6px;
  }
  a {
    color: #dd0bed;
  }
  a:hover {
    color: $ceti-orange;
    text-decoration: underline;
  }
  .name {
    display: inline-block;
  }
}

/* end constellations */

.contributors {
  padding: 80px 0;
  color: #fff;
  // background: rgb(0,135,126);
  // background: linear-gradient(90deg, rgba(239, 230, 215, 0.4) 0%, rgba(0,135,126,0.3) 100%);
  background: rgb(51, 40, 128);
  background: linear-gradient(90deg, rgba(37, 29, 92, 0.9) 0%, rgba(151, 138, 208, 0.8) 100%);

  p {
    width: 80%;
    margin: auto;
  }
}
header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
header h1 {
  margin-bottom: 0;
}

main {
  width: 100vw;
  margin: auto;
}
.home-page section:nth-child(1) {
  background: #fff;
}
/* desktop 3rd color: #dec49e */

img {
  width: 100%;
}

header.branding {
  #logo {
    width: 140px;
    padding: 0 0 0 20px;
    margin-top: -18px;
  }
}
strong {
  // why would I do this?
  // display: inline-block;
  // margin-top: 18px;
}
a.button.pink,
button.button.pink {
  border-color: #fff;
  background-color: #fff;
  color: #ff3464;
}
a.button.pink:hover,
button.button.pink:hover {
  border-color: #fff;
  background-color: #ff3464;
  color: #fff;
}
a.button.gray,
button.button.gray {
  border-color: #e5450a;
  background-color: #fff;
  color: #e5450a;
}
a.button.gray:hover,
button.button.gray:hover {
  border-color: #fff;
  background-color: #e5450a;
  color: #fff;
}
a.btn.light,
button.btn.light,
.button.light {
  border-color: #d81e4a;
  color: #d81e4a;
  background-color: #fff;
}
a.btn.light:hover,
button.btn.light:hover {
  border-color: #fff;
  color: #fff;
  background-color: #d81e4a;
}

.orange-light .button {
  background-color: #fff;
  color: $ceti-orange;
}

.wlf {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  .button {
    margin-top: 1rem;
  }
}
.person-page section article.inner {
  padding: 60px 0 60px 0;
  width: 90%;
  margin: auto;
}
.gallery {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  padding-bottom: 80px;
  img {
    width: 100%;
  }
  .card {
    padding: 0;
    margin: 0;
  }
}
.gallery.newsgallery {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  width: 100%;
}

.gallery.sponsors {
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.wlf-link {
  div {
    width: 90%;
    margin: auto;
  }
  background-image: url("../wlf2020/images/banner.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 4em 0;
  h2 {
    margin-bottom: 0;
    font-size: 2.2em;
    color: #fff;
  }
  h3 {
    margin-top: 0.3em;
    color: #fff;
    font-size: 32px;
  }
  p {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
  }
  .button {
    border-color: #fff;
    color: #fff;
  }
  .bang {
    position: absolute;
    top: -80px;
    left: -80px;
    width: 440px;
    z-index: -1;
    opacity: 0.1;
  }

  h2.tagline {
    margin-top: 1em;
  }

  a {
    color: #00877e;
    font-weight: bold;
    &:hover {
      color: #fd9200;
    }
  }
}
.button {
  color: #e5450a;
  border: 1px solid #e5450a;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
}
.button:hover {
  border-color: #e5450a;
  background: #e5450a;
  color: #fff;
  text-decoration: none;
}
section .inner {
  padding: 60px 0 0 0;
  width: 80%;
  margin: auto;
}
.company-page {
  section {
    background-color: #fff;
    color: #555;
  }
  section .inner {
    padding: 60px 0 0 0;
    width: 80%;
    margin: auto;
  }
  section figure {
    margin: 0;
  }
}
#people {
  .white a {
    color: $ceti-grey;
  }
  h2 {
    font-size: 44px;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.events {
  background: #fff;
  padding: 80px;
}

.events .title {
  grid-column: 1 / -1;
}
.events .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin: auto;
}

.events h4 {
  border-bottom: 4px solid #666;
  padding-bottom: 10px;
  margin-bottom: 0;
  display: inline-block;
}

#subscribe-form {
  width: 80%;
  margin: auto;
}

.cta {
  text-align: left;
  margin-top: 40px;
  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.center {
  text-align: center;
}
.device-page .nav,
.device-page .desktop {
  display: block;
  position: static;
  width: 100%;
  z-index: 900;
}
.device-page .nav {
  display: none;
}

/* START of Mobile Menu */
.nav,
.desktop {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 900;
}

.icon {
  position: fixed;
  cursor: pointer;
  top: 30px;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #666;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  background: #666;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #fff;
  border: 1px solid #e5450a;
  position: fixed;
  right: 0;
  z-index: 999;
  padding-top: 20px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-bottom: 1px solid #e5450a;
}

.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #555;
  padding: 0 90px;
  height: 70px;
  line-height: 70px;
}

.menu-mobile a:hover {
  color: #e5450a;
}

.desktop,
.menu-desktop,
.menu-mobile {
  display: none;
  margin-top: 0px;
}

footer {
  background-color: $ceti-grey;
  padding: 60px;
  color: #fff;
  a {
    color: #fff;
    margin-right: 16px;
    display: inline-block;
    padding: 4px 4px 0 4px;
  }
  .left {
    a {
      border-radius: 12px;
      border: 2px solid $ceti-grey;
    }
  }
  .left a:hover {
    border: 2px solid #fff;
  }
  .right a:hover {
    border-bottom: 2px solid #fff;
  }
  .inner {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .right {
    text-align: right;
  }
  img {
    width: 35px;
    height: 35px;
  }

  svg {
    background-color: $ceti-orange;
    fill: #fff;
    color: #fff;
    padding: 6px;
    margin-right: 1.6rem;
    overflow: hidden;
  }
  svg:hover {
    fill: $ceti-orange;
    background-color: #fff;
  }
}

footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hackathon__partners_list {
  list-style-type: none;
}
/* Text over an images */

.person-card p.mobile-only {
  text-align: center;
}

.people {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  margin: 80px 40px;
  .section-head {
    grid-column: 1 / -1;
  }
  .person {
    position: relative;
    width: 150px;
    margin: auto;
    p {
      text-align: center;
    }
    img {
      border-radius: 50%;
      width: 150px;
      height: auto;
      display: block;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 150px;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #00877e;
      border-radius: 50%;
    }
  }

  .person:hover .overlay {
    opacity: 1;
  }

  .person .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

/* END OF Text over an images */

.blog-page {
  .grid {
    width: 80%;
    margin: 60px auto;
    background-color: #fff;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 40px;

    aside {
      grid-rows: 1 /-1;
      background-color: #efe6d7;
      padding: 40px;
    }
  }
  .byline {
    font-size: 12px;
    margin-right: 10px;
  }
  .pubdate {
    font-size: 12px;
  }
}

.person-page {
  h1 {
    font-size: 44px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  h2 {
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 0;
  }
}
section.gof {
  background-color: #ff3464;
  color: #fff;
}
section.gof h1,
section.gof h2,
section.gof h3,
section.gof h4,
section.gof p {
  color: #fff;
}
section.gof nav {
  background-color: #f7e332;
}
section.gof nav a {
  color: #d81e4a;
}
section.gof nav a:hover {
  color: #e5450a;
}
section.gof div {
  padding: 60px 0;
  width: 80%;
  margin: auto;
}
section.gof figure {
  margin: 0;
}
section.constellations {
  div {
    padding: 60px 0;
    width: 80%;
    margin: auto;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    color: #fff;
  }
  background-color: #382abb;
  .button.light {
    border-color: #fff;
    color: #fff;
    background-color: #382abb;
  }
  .button.light:hover {
    border-color: #382abb;
    color: #382abb;
    background-color: #fff;
  }
}
#xrchive-page .light a {
  color: $ceti-orange;
}
#xrchive-page .light a:hover {
  color: $ceti-grey;
}
section.events {
  background: #99adad;
  color: #fff;
}
section.events img {
  width: 100vw;
  padding: 0;
  margin: 0;
}
section.events div {
  padding: 60px 0;
  width: 70%;
  margin: auto;
}
section.events div.title {
  width: 90%;
}
.mozfest-postcard {
  margin-bottom: -20px;
}

/* video modal https://codepen.io/ramdje/pen/RXQzVe*/

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}
.modal-body {
  position: relative;
  padding: 0px;
}
.close {
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 999;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  opacity: 1;
}

.btn {
  border-radius: 0;
  padding: 10px 20px;
}
.btn-primary {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #005789;
  border-color: #005789;
}
.btn-primary:hover {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #006ca3;
  border-color: #006ca3;
}

/* RESPONSIVE BACKGROUND VIDEO */
.home-resp-video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  z-index: -1;
}
.home-resp-video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.home-resp-video-link {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}
.home-resp-video-bottom-spacer {
  min-height: 30px;
  max-height: 50px;
}

@media (max-width: 992px) {
  .home-resp-video-container {
    padding-top: 56.25%;
  }
  .home-resp-video-link {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}
/* end video modal */

/* MAILCHIMP STYLES */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}
section #subscribe-form,
section #subscribe-form div {
  padding: 0;
}
#subscribe-form #mc_embed_signup .mc-field-group {
  max-width: 600px;
}
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block. */

@media only screen and (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  .navtwo {
    display: block;
    margin-right: 30px;
  }
  .navmobile {
    display: none;
  }
  .hero {
    background-image: url("../images/heros/wlf-ceti-blue-green.png");
    background-position: 0 20px;
  }
  header.branding {
    display: flex;
  }
  #logo {
    font-size: 4em;
  }
  h1 {
    font-size: 60px;
    margin: 0;
  }
  .about {
    div {
      padding: 80px 0;
    }
  }
  .bang {
    width: 520px;
    top: -120px;
    left: -160px;
  }
  #subscribe-form {
    width: 60%;
  }
  section.gof div {
    width: 60%;
  }
  .home-page div.inner {
    width: 60%;
    padding-bottom: 60px;
  }
  .cta {
    text-align: center;
    margin-top: 40px;
  }
  .cta h3 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
  .device-page .menu-desktop {
    width: 100%;
    display: block;
    padding: 0;
    line-height: 50px;
    height: auto;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: right;
    background: #2e4ddf;
  }
  .menu-desktop {
    width: 100%;
    display: block;
    padding: 0;
    line-height: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    height: 0;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
  }
  .device-page .menu-desktop {
    position: static;
  }

  .menu-desktop a {
    display: inline-flex;
    margin-right: 30px;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    color: #505555;
    justify-content: space-evenly;
  }
  .menu-desktop a:hover {
    color: #e5450a;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
  }

  nav.nav {
    display: none;
  }
  .wlf-link {
    padding: 2em 0 6em 0;
    h2 {
      font-size: 3em;
    }
  }

  .about {
    div {
      padding: 80px 0;
      width: 80%;
    }
  }
  .wlf-link {
    div {
      width: 60%;
    }
  }
  .contributors {
    p {
      width: 60%;
    }
  }
  footer div {
    width: 100%;
  }
  .person-page section article.inner {
    width: 80%;
  }
  .hackathon__partners_list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    .stacks {
      background-color: #000;
    }
    li {
      flex: 25%;
      padding: 10px;
      margin: 16px;
      border: 1px solid #000;
    }
    .no-bdrd {
      border: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .grid-two {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 80px;
    margin-bottom: 60px;
  }
  .bang {
    width: 540px;
    top: -120px;
    left: -260px;
  }
  .person-page section article.inner {
    width: 60%;
  }
  .cta h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .about {
    div {
      padding: 80px 0;
      width: 60%;
    }
  }
  .gallery {
    .card {
      padding: 0;
      margin: 0;
      width: 100%;
      font-family: "Source Code Pro";
      font-size: 24px;
      font-weight: 400;
      color: $ceti-black;
      a {
        color: $ceti-black;
      }
    }
  }
  .orange .gallery .card a {
    color: white;
  }
  .contributors {
    p {
      width: 40%;
    }
  }
}
