@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Ubuntu:500,700&display=swap');


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #2a2a2a;
	background-image: url('../images/cream_dust.png');
}

h1, h2, h3, h4, h5 {
	font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
	font-weight: 700;
}

h3, h4, h5 {
	font-weight: 500;
}

h1 {
	font-size: 4em;
}

header {
	width: 90%;
	margin: auto;
	height: 100vh;
	margin-top: 2em;
	position: relative;
	padding-bottom: 60px;
}

header h1 {
	margin-bottom: 0;
}
.bang {
	position: absolute;
	top: -80px;
	left: -80px;
	width: 440px;
	z-index: -1;
	opacity: 0.1;
}

h2.tagline { 
	margin-top: 0; 
}


a { 
	color: #00877E;
	font-weight: bold;
}

a:hover {
	color: #00D4C6;
}

.button {
	color: #00877E;
	border: 1px solid #00877E;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	margin-top: 0;
}

.cta {
	text-align: left;
	margin-top: 40px;
}
.cta h3 {
	font-size: 1rem;
	margin-bottom: .5rem;
}
@media only screen and (min-width: 768px) {
	header {
		width: 60%;
		margin-top: 4em;
	}
	.bang {
		width: 520px;
		top: -120px;
		left: -160px;
	}
	.cta {
		text-align: center;
		margin-top: 40px;
	}
	.cta h3 {
		font-size: 1.8rem;
		margin-bottom: 8rem;
	}	
}

@media only screen and (min-width: 1024px) {
	header {
		width: 50%;
		max-width: 700px;
		margin-top: 5em;
	}
	.bang {
		width: 540px;
		top: -120px;
		left: -260px;
	}
	.cta h3 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}