$color--active: #fd9200;
$color--black: #2c2b2f;
$color--body: lighten(black, 15%);
$color--primary: #00877E;
$color--secondary: #fd9200;
//MEDIA QUERIES

//MEDIA QUERIES
$mq__max_width--mobile: 667px;
$mq__max_width--mobile_dpr3: 812px;
$mq__max_width--tablet: 1024px;
$mq__max_width--desktop: 1600px;

@mixin mq--mobile {
  @media only screen and (max-width: $mq__max_width--mobile),
    (max-device-width: $mq__max_width--mobile_dpr3) and (-webkit-device-pixel-ratio: 3) {
    @content;
  }
}

@mixin mq--tablet {
  @media only screen and (min-device-width : #{$mq__max_width--mobile + 1}) and (max-device-width : $mq__max_width--tablet) {
    @content;
  }
}

@mixin mq--desktop_max {
  @media only screen and (min-device-width : #{$mq__max_width--desktop}) {
    @content;
  }
}

@mixin headline() {
  font-family: "Source Code Pro", sans-serif;
}

@font-face {
  font-family: "colfax", sans-serif;
  src: url("../fonts/colfaxMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: $color--body;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Source Code Pro', sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: underline;
  color: $color--primary;
  transition: color 250ms linear;
  &:hover {
    color: $color--active;
  }
}

strong {
  font-weight: 700;
}

iframe {
  border: 0;
}

img {
  max-width: 100%;
}

#Projects {
  display: none; //MH - TEMP: hide projects for now
}

.logotype {
  font-family:'Ubuntu', sans-serif;
  font-size: 20px;
}

.button {
  color: #00877E;
  border: 1px solid #00877E;
  padding: 10px 16px;
  text-decoration: none;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 16px;
  :hover {
      border-color: $color--secondary;
      color: $color--secondary;
  }
}
.maps {
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__list_item {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.wlflogo {
  margin-top: 26px;
}
.location {margin: 40px 0;}
.location__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  li {
    text-align: center;
    font-size: 14px;
  }
  img {
    padding: 6px;
    border: 1px solid #333;

  }
  :hover { border-color: #fd9200;}
}
.hackathon {
  &__header {
    display: flex;
    background-color: $color--black;
    color: white;
    justify-content: center;
    position: relative;
    #logo {
        width: 100px;
        padding: 40px 0 0 20px;
        position: absolute;
        top: 0px;
        left: 0px;
    }


    &--full {
      height: 500px;
      align-items: center;
      background-image: url("../images/banner.jpg");
      background-size: cover;
      background-position: center;
    }
    &--compact {
      padding: 20px;
      .hackathon__header_group {
        text-align: left;
        width: 100%;
        max-width: 1000px;
      }
    }
  }
  &__header_group {
    text-align: center;
  }
  &__title {
    font-size: 20px;
    margin-top: 20px;
  }
  &__subtitle {
    font-size: 80px;
  }
  &__main_nav {
    display: flex;
    padding: 0 20px;
    border-bottom: 1px solid white;
    background-color: $color--black;
    justify-content: center;
  }
  &__main_nav_list {
    display: flex;
    max-width: 1000px;
    width: 100%;
  }
  &__main_nav_item {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__main_nav_link {
    color: white;
    transition: color 250ms linear;
    text-decoration: none;
    &:hover {
      color: $color--active;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__section {
    // max-width: 1000px;
    width: 80%;
    margin: auto;
    padding: 40px 0;
  }
  &__section_title {
    font-size: 14px;
  }
  &__section_subtitle {
    font-size: 30px;
    .hackathon__section--info & {
      margin-top: 30px;
    }
  }
  &__info_container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &--flip {
      .hackathon__info_sidebar {
        width: 60%;
      }
      .hackathon__info_description {
        width: 30%;
        p {
          font-size: 1em;
          line-height: 1.4em;
        }        
      }
    }
    &--standard {
      .hackathon__info_description {
        width: 60%;
      }
      .hackathon__info_sidebar {
        width: 30%;
      }
    }
  }
  &__info_image {
    width: 100%;
  }
  &__contributors_title {
    margin-top: 40px;
  }
  
  &__map_iframe {
    height: 300px;
  }
  &__projects_container {
    columns: 3 300px;
    column-gap: 33px;
  }
  &__project_container {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 30px;
    &:hover {
      .hackathon__project_info_container {
        opacity: 1;
      }
    }
  }
  &__project_image {
    width: 100%;
  }
  &__project_info_container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 500ms linear;
    background-color: rgba($color--active, 0.9);
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &:hover {
      color: black;
    }
  }
  &__project_title {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
  }
  &__project_team {
    margin: 20px 0 0 0;
  }
  &__participants_container {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    margin-top: 30px;
  }
  &__participants_group {
    margin-top: 20px;
  }
  &__participants_column {
    min-width: 300px;
    margin-right: 16px;
  }
  &__participants_letter {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    @include headline();
  }
  &__participants_list {
    margin-top: 20px;
  }
  &__participant_item {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__participant_image {
    width: 30px;
  }
  &__participant_name {
    margin-left: 10px;
  }
  &__section--partners {
    margin-bottom: 50px;
  }
  &__partners_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__partner_item {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color--black;
    padding: 10px;
    margin-top: 30px;
    &:hover {
      border: 1px solid $color--active;
    }
  }
  &__partner_link {
    display: block;
  }
  &__partner_image {
    max-width: 100%;
  }
  &__footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  &__footer_nav {
    display: flex;
    max-width: 1000px;
    width: 100%;
    a {
      color: white;
      &:hover {
        color: $color--active;
      }
    }
  }
  &__social_item {
    display: inline-block;
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__legal_list {
    display: flex;
  }
  &__legal_item {
    margin-left: 20px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.project-page-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  li {list-style-type: none;}
  img { width: 100%;}
}
.project-page-intro {
  width: 80%;
  margin: auto;
}

.last, .last:hover {
  border-color: #fff;
}
.stacks {background-color: #000;}

/* NEW SLIDES */
.hackathon__info_sidebar {position: relative;}
.slider-wrap {
  height: 100%;
  width: 100%;
}
.slider-wrap .slider {
  height: 500px;
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  // position: absolute;
  // width: 100%;
  // left: 0px;
  // top: 50px;
}

.slider-item {
  width: 400px;
  padding: 20px 0 25px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: block;
  justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 0;
  box-shadow: 0 4px 9px #f1f1f4;
  position: absolute;
  left: 0;
  top: 0;
}
.slider-item .animation-card_image {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
  background-color: #ffffff;
}
.slider-item .animation-card_image img {
  width: 95%;
  object-fit: cover;
}
.slider-item .animation-card_content {
  width: 100%;
  max-width: 374px;
  margin-left: 26px;
  font-family: "Open Sans", sans-serif;
}
.slider-item .animation-card_content .animation-card_content_title {
  color: #4a4545;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 24px;
  margin: 0;
}
.slider-item .animation-card_content .animation-card_content_description {
  color: #696d74;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 24px;
  margin: 10px 0 0 0;
}
.slider-item .animation-card_content .animation-card_content_city {
  font-size: 11px;
  margin: 10px 0 0 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #696d74;
}

/* /NEW SLIDES */

@include mq--mobile() {
  .slider-wrap .slider {
    position: relative;
    height: 580px;
  }
  .slider-item {width: auto;}
  .location__list {
    display: block;
    width: 80%;
    margin: auto;
    li {
      margin-bottom: 20px;
    }
  }
  .hackathon {
    &__header--full {
      height: 300px;
    }
    &__section {
      width: 90%;}
    &__subtitle {
      font-size: 30px;
    }
    &__partners_list {
      display: block;
      justify-content: center;
    }
    &__partner_item {
      margin: 30px auto;
    }
    &__participants_container{
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
    }
    &__section {
      padding-left: 20px;
      padding-right: 20px;
    }
    &__info_container {
      flex-wrap: wrap;
    }
    &__info_description,
    &__info_sidebar {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
    }
    &__legal_list {
      flex-wrap: wrap;
    }
    &__legal_item {
      width: 100%;
      margin-left: 0;
    }
  }
}
