.device-page {
    h1 {
        margin-top: 0;
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 18px;
    }
    h1,h2,h3 {
        font-weight: 700;
    }

    .branding {
        height: 100%;
        position: relative;
    }

    .fcc-logo {
        width: 220px;
        height: auto;
        position: absolute;
        bottom: 20px;
        left: 0;
    }

    .device-share1{

        color: #fff;
        background: rgb(51,40,128);
        background: linear-gradient(90deg, rgba(42, 83, 87, 0.9) 0%, rgba(151,138,208,0.8) 100%);
        a { color: #fff;}
        a:hover {
            color: rgb(91,181,189);
        }
        h3 {
            margin: 2em 0 0 0;
        }
        > div {
            padding: 20px;
            margin: 0 auto;
        }
    }
    .hero {
        background-image: url('../images/fcc-banner-mobile.jpg');
        background-position: bottom right;
    }
    
}

@media only screen and (max-width: 767px) {
    .device-page {
        #logo {
            display: none;
        }
    }
}


@media only screen and (min-width: 768px) {
    .device-page {
        #logo {
            margin-top: 80px;
        }
        .fcc-logo {
            bottom: 0px;
            left: auto;
            right: 60px;
        }
        .hero {
            background-image: url('../images/fcc-banner.jpg');
        }
        h1{ 
            font-size: 42px;
        }
        .device-share1 > div {
            padding: 80px;
            width:60%;
        }
    } 
}